.notebook {
    margin: 0;
    width: 100%;

    // .full-min-height { min-height: calc(100vh - var(--size-nav-height)); }
    .full-min-height { height: calc(100vh - var(--size-nav-height)); }

    .nb-page {
        overflow: auto;

        // Border
        border-right: 1px solid #d5d5d5;

        .nb-article {
            min-height: 50%;
            min-width: 20%;
            max-width: 55%;

            // Add spacing at top and bottom of the article
            padding-top: 10vh;
            padding-bottom: 10vh;

            .nb-title {
                font-size: 38px;
                padding: 20px 0 20px 0;
            }
        }
    }

    .nb-side-panel {
        // Match padding of .col-4 class
        // padding-top: 15px;

        .video-container {
            position: relative;
            width: 100%;
            padding-bottom: 56.25%;

            #video-frame {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border: 0;
            }
        }

        .nb-side-meta {
            width: 100%;
            padding: 35px;
        }
    }
}
