ul, li {
    margin: 0;
    padding: 0;
}

.navbar {
    width: 100vw;
    height: var(--size-nav-height);
    color: var(--global-text-color);
    padding: 0;
    border-bottom: 1px solid #d5d5d5;
}

.nav-links li {
    display: inline-block;
    padding: 15px 40px 15px 40px;
}

.nav-links li a:hover {
    color: var(--global-text-color);
}
