@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Open+Sans&display=swap');
@import url('./themes.css');

:root {
  /* Themes */
  --light-text-color: white;
  --dark-text-color: black;
  --global-text-color: var(--light-text-color);

  /* Sizes */
  --size-nav-height: 6vh;

  /* Fonts */
  --default-fonts: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  --default-font-size: large;
}

/* Chrome/Opera/Safari  /  Firefox 19+  /  Firefox 18-  /  IE 10+ */
/* ::-webkit-input-placeholder
::-moz-placeholder
:-moz-placeholder
:-ms-input-placeholder {
  color: var(--light-text-color);
} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--default-fonts);
  font-size: var(--default-font-size);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Abril Fatface', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: var(--dark-text-color);
}

.abril-fatface {
  font-family: 'Abril Fatface', var(--default-fonts);
}

.no-border {
  border-style: none !important;
}

.no-focus:focus {
  outline: none;
}

/* Display contents centered, ajust overflow */
.xy-center {  
  display: flex;
  align-items: center;
  justify-content: center;
}
